#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature img {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #FF8C00;
    border-radius: 20px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#feature .feature-box span {
    display: inline-block;
    color: white;
    padding: 9px 8px 9px 8px;
    line-height: 1;
    border-radius: 10px;
    font-weight: 700;
}

.free_shipping {
    background-color: #000000;
}

.good_quality {
    background-color: #CF1B23;
}

.online_order {
    background-color: #D7AD41;
}

.hassle_free {
    background-color: #FF646F;
}

.customer_approved {
    background-color: #FFA91A;
}

.support {
    background-color: #96D4D3;
}