.explore-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-product h1 {
    color: #000000;
    font-weight: 800;
}

.explore-product hr {
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-product-text {
    max-width: 60%;
}

.explore-product-categ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}

.explore-product-categ::-webkit-scrollbar {
    display: none;
}

.explore-product-list-item img {
    width: 6.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-product-list-item p {
    margin-top: 10px;
    color: #000000;
    font-weight: 900;
    font-size: 16px;
}

.explore-product-list-item .active {
    border: 2px solid #1A1A6D;
    padding: 2px;
}