#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 8%;
    cursor: pointer;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

#navbar li:hover {
    border-bottom: 2px solid #FF8C00;
    padding-bottom: 5px;
    color: #FF8C00;
}