#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 8%;
    cursor: pointer;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li span {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

#navbar li span:hover, .navbar-right span i:hover, .active {
    border-bottom: 2px solid #FF8C00;
    padding-bottom: 2px;
    color: #FF8C00;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.navbar-right .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #1A1A6D;
    border-radius: 5px;
    top: 8px;
    right: 119px;
}

.navbar-right button {
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.navbar-right button:hover {
    background-color: #FF8C00;
    color: #000000;
}

#lg-bag {
    cursor: pointer;
    font-size: 30px;
}

.navbar-right span i, .navbar-right button, #navbar li span {
    transition: 0.3s ease;
}

